/* LOGIN */

.login-form {
    background-image: url("img/gato-cachorro.png");
}

.title {
    font-family: cursive;
    text-align: center;
}

/* .intro-phrase {
    font-family: ;
} */

/* #login {
    
} */